@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("imgs/coracoes.png"), linear-gradient(#272727, black);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
}

main {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    gap: 4rem;
    padding: 2rem;
}

#amor {
    color: #ff0000;
    font-family: "Sacramento", cursive;
}

#passeiobarco, #quadrokitkat {
    width: 400px;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 0px rgba(0, 0, 0, 0.219);
}

#tituloprincipal {
    color: white;
}

.textos {
    text-align: justify;
}

#estamosjuntos, #estamosjuntosnamorando {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#contadordetempo, #tempodenamoro {
    background-color: red;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem red;
}

#iniciodacartinha {
    font-weight: bolder;
    color: rgb(153, 153, 153);
}

#momentos { 
    display: flex;
    justify-content: center;
    max-width: 800px;
    flex-wrap: wrap;
    gap: 1rem;
}
#momentos img {
    width: 150px;
    border-radius: 3rem;
}

#span1, #span {
    color: #5c5c5c;
}

#span1 {
    margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
    #momentos img {
        width: 250px;
    }
}

@media screen and (min-width: 1037px) {
    #momentos {
        align-items: center;
    }

    .textos {
        max-width: 800px;
    }
}
